html{
    background-color: red;
}
.bigbox{
     height: 100px;
     width: 100px;
     border-radius: 50px;
    background-color: beige;
 }
.smallbox{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: black;
}